In [ ]:
# numpy is module used to perform numerical computation
import numpy as np

In [ ]:
# 2-D array
dynamic_arr = [[1,2,3],[4,5,6],[7,8,9]]

In [ ]:
numpy_arr = np.array(dynamic_arr)

# shape() is used to find the dimension on numpy array
numpy_arr.shape

(3, 3)

In [ ]:
# Unlike list data type in python, we can perform column wise operation in numpy also
numpy_arr[:] # row-wise operation

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
numpy_arr[:,1] # column wise operation

array([2, 5, 8])

In [ ]:
# suppose we need to retrive 5 from matrix  3X3
numpy_arr[:, 1][1]

5

In [ ]:
temp_var =  numpy_arr.reshape(1,9) # this will convert the shape of matrix. And the arguments are => (row, column)
temp_var

array([[1, 2, 3, 4, 5, 6, 7, 8, 9]])

In [ ]:
temp_var.shape

(1, 9)

In [ ]:
# reshape(-1, 1) will change the order of matrix i.e. row will become column and column will become row
temp_var.reshape(-1,1)

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [7],
       [8],
       [9]])