In [17]:
# import pandas library to read csv file from dsk
import pandas

In [18]:
# loading csv file from disk to ram inside a variable name database
database = pandas.read_csv('50_Startups.csv')

In [19]:
# prining all the column present in dataset 
database.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [20]:
# printing only 5 rows using head function
database.head(5)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [21]:
# since 4th field is Categorical variable
X_initial = database.values[: , :3]

In [22]:
# printing the 4th field of the  dataset
X_state = database.values[: , 3]
# x.shape  (50,)

In [23]:
# Converting 1D to 2D 
X_state_reshape = X_state.reshape(-1,1)

In [24]:
# LabelEncoder is the function used to provide label to Categorical data 
from sklearn.preprocessing import LabelEncoder

In [25]:
# storing the LabelEncoder() function in var_le
var_le = LabelEncoder()

In [26]:
# we need to fit the data in 
label_for_state = var_le.fit_transform(X_state)

In [12]:
# OneHotEncoder is the function used to convert to
# fit and transform the data from Categorical Variable lables into sparse matrix dummy variable .
from sklearn.preprocessing import OneHotEncoder

In [27]:
# storing the OneHotEncoder() function into var_ohe variable
var_ohe = OneHotEncoder()

In [28]:
# Converting labels into dummy variable instance
sparse_matrix_dummy_var = var_ohe.fit_transform(X_state_reshape)

In [15]:
# to retrive the dummy variable value in array format we use toarray() function 
sparse_arr = sparse_matrix_dummy_var.toarray()

In [16]:
# to avoid Dummy variable trap 
new_dummy_var = sparse_arr[:,:2]

In [ ]:
import numpy

In [ ]:
X_final = numpy.hstack((X_initial, new_dummy_var))