In [1]:
# import pandas library to read csv file from dsk
import pandas

In [2]:
# loading csv file from disk to ram inside a variable name database
database = pandas.read_csv('50_Startups.csv')

In [3]:
# prining all the column present in dataset 
database.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [4]:
# printing only 5 rows using head function
database.head(5)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [5]:
# since 4th field is Categorical variable
X_initial = database.values[: , :3]

In [6]:
# printing the 4th field of the  dataset
X_state = database.values[: , 3]
# x.shape  (50,)

In [7]:
# Converting 1D to 2D 
X_state_reshape = X_state.reshape(-1,1)

In [8]:
# LabelEncoder is the function used to provide label to Categorical data 
from sklearn.preprocessing import LabelEncoder

In [9]:
# storing the LabelEncoder() function in var_le
var_le = LabelEncoder()

In [10]:
# we need to fit the data in 
label_for_state = var_le.fit_transform(X_state)

In [11]:
# OneHotEncoder is the function used to convert to
# fit and transform the data from Categorical Variable lables into sparse matrix dummy variable .
from sklearn.preprocessing import OneHotEncoder

In [12]:
# storing the OneHotEncoder() function into var_ohe variable
var_ohe = OneHotEncoder()

In [13]:
# Converting labels into dummy variable instance
sparse_matrix_dummy_var = var_ohe.fit_transform(X_state_reshape)

In [14]:
# to retrive the dummy variable value in array format we use toarray() function 
sparse_arr = sparse_matrix_dummy_var.toarray()

In [15]:
# to avoid Dummy variable trap 
new_dummy_var = sparse_arr[: , :2]

In [16]:
# importing numpy to perform numerical calculations
import numpy

In [17]:
# hstack() accept tuple
# Now to merge the value X_initial and newly dummy value together horizonally
# we use numpy hstack() function
X_final = numpy.hstack((X_initial, new_dummy_var))

In [18]:
X_final

array([[165349.2, 136897.8, 471784.1, 0.0, 0.0],
       [162597.7, 151377.59, 443898.53, 1.0, 0.0],
       [153441.51, 101145.55, 407934.54, 0.0, 1.0],
       [144372.41, 118671.85, 383199.62, 0.0, 0.0],
       [142107.34, 91391.77, 366168.42, 0.0, 1.0],
       [131876.9, 99814.71, 362861.36, 0.0, 0.0],
       [134615.46, 147198.87, 127716.82, 1.0, 0.0],
       [130298.13, 145530.06, 323876.68, 0.0, 1.0],
       [120542.52, 148718.95, 311613.29, 0.0, 0.0],
       [123334.88, 108679.17, 304981.62, 1.0, 0.0],
       [101913.08, 110594.11, 229160.95, 0.0, 1.0],
       [100671.96, 91790.61, 249744.55, 1.0, 0.0],
       [93863.75, 127320.38, 249839.44, 0.0, 1.0],
       [91992.39, 135495.07, 252664.93, 1.0, 0.0],
       [119943.24, 156547.42, 256512.92, 0.0, 1.0],
       [114523.61, 122616.84, 261776.23, 0.0, 0.0],
       [78013.11, 121597.55, 264346.06, 1.0, 0.0],
       [94657.16, 145077.58, 282574.31, 0.0, 0.0],
       [91749.16, 114175.79, 294919.57, 0.0, 1.0],
       [86419.7, 153514.11, 0.0, 0.0, 0.0],
       [76253.86, 113867.3, 298664.47, 1.0, 0.0],
       [78389.47, 153773.43, 299737.29, 0.0, 0.0],
       [73994.56, 122782.75, 303319.26, 0.0, 1.0],
       [67532.53, 105751.03, 304768.73, 0.0, 1.0],
       [77044.01, 99281.34, 140574.81, 0.0, 0.0],
       [64664.71, 139553.16, 137962.62, 1.0, 0.0],
       [75328.87, 144135.98, 134050.07, 0.0, 1.0],
       [72107.6, 127864.55, 353183.81, 0.0, 0.0],
       [66051.52, 182645.56, 118148.2, 0.0, 1.0],
       [65605.48, 153032.06, 107138.38, 0.0, 0.0],
       [61994.48, 115641.28, 91131.24, 0.0, 1.0],
       [61136.38, 152701.92, 88218.23, 0.0, 0.0],
       [63408.86, 129219.61, 46085.25, 1.0, 0.0],
       [55493.95, 103057.49, 214634.81, 0.0, 1.0],
       [46426.07, 157693.92, 210797.67, 1.0, 0.0],
       [46014.02, 85047.44, 205517.64, 0.0, 0.0],
       [28663.76, 127056.21, 201126.82, 0.0, 1.0],
       [44069.95, 51283.14, 197029.42, 1.0, 0.0],
       [20229.59, 65947.93, 185265.1, 0.0, 0.0],
       [38558.51, 82982.09, 174999.3, 1.0, 0.0],
       [28754.33, 118546.05, 172795.67, 1.0, 0.0],
       [27892.92, 84710.77, 164470.71, 0.0, 1.0],
       [23640.93, 96189.63, 148001.11, 1.0, 0.0],
       [15505.73, 127382.3, 35534.17, 0.0, 0.0],
       [22177.74, 154806.14, 28334.72, 1.0, 0.0],
       [1000.23, 124153.04, 1903.93, 0.0, 0.0],
       [1315.46, 115816.21, 297114.46, 0.0, 1.0],
       [0.0, 135426.92, 0.0, 1.0, 0.0],
       [542.05, 51743.15, 0.0, 0.0, 0.0],
       [0.0, 116983.8, 45173.06, 1.0, 0.0]], dtype=object)